* {
    margin: 0;
    color: white;
    font-family: Poppins;
}

.container {
    background-color: #1e2631;
    min-height: 100vh;
    width: 100%;
    padding-top: 2rem;
}

option,
select,
input,
button {
    color: black;
}

.excelexcel {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #282f3c;
    border-radius: 8px;
    width: fit-content;
    margin-bottom: -1rem;
}

.card {


    display: flex;
    margin: auto;
    width: 95%;
    border-radius: 5px;


}

.leftard {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.selectStyle {

    background-color: #282f3c;

    border-radius: 8px;
    width: 92%;

    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    height: fit-content;
    margin-bottom: -0.5rem;
}

.selectStyle>label {
    font-size: 1.15rem;
    font-weight: 500;
}

.selectStyle>select {
    height: 2.5rem;
    border-radius: 5px;
    font-weight: 300;
    padding-left: 0.5rem;
    color: white;
    background-color: #282f3c;

}

.selectStyle>select>option {
    background-color: white;
}

.selectStyle>input {
    border-radius: 10px;
}

.pieGrp {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #282f3c;
    border-radius: 8px;
    width: fit-content;
    height: 370px;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.pieGrp>p {
    font-size: 20px;
    margin-top: -1rem;
    margin-bottom: 1rem;

}

.left-stats {
    display: flex;
    justify-content: space-between;
    background-color: #282f3c;
    border-radius: 8px;
    width: 92%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.rightCard {
    background-color: #282f3c;
    margin-top: 1.2rem;
    border-radius: 8px;
    padding-bottom: 0rem;
    height: fit-content;
}

.styleselected {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleselected>input {
    border: solid 1px;
    height: 2.5rem;
    border-radius: 5px;
    font-weight: 300;
    padding-left: 0.5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.excel {
    color: black;
}

.dropdown {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.dropdown>select {
    width: 70%;
    height: 3rem;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px white;
    font-size: 1rem;
    color: white;
    margin-right: 0.5rem;
}

.dropdown>select>option {
    font-size: 1rem;
}

.dropdown>input {
    width: 16%;
    height: 2.85rem;
    background-color: transparent;
    padding-left: 2.5%;
    border: solid 1px white;
    font-size: 1.25rem;
    color: white;
}

body {

    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
}

.totalVal {
    width: 50%;
    height: 3rem;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px white;
    font-size: 1.25rem;
    color: white;
    margin-right: 0.5rem;
}

.reesult {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.reesult>span {
    width: 100%;
    padding: 5%;
    text-align: center;
    font-size: 3rem;
}

button {
    border-radius: 5px;
}

.borderGreen {
    border: solid 3px green;
}

.borderRed {
    border: solid 2px #ED2B2A;
}

.borderOrange {
    border: solid 2px #FC4F00;
}

.borderYellow {
    border: solid 2px yellow;
}